/*-----CSS RESET-----*/
* {
    padding: 0;
    margin: 0;
}




/*----MAIN CONTENT----*/

body {
        font-family: 'Helvetica';
}

.grid {
    display: grid;
    grid-template-columns: 18% 1fr 1.75fr 18%;
    grid-template-areas: 
        "mainpic mainpic mainpic mainpic" 
        ". title title ." 
        ". navbar navbar ." 
        ". introtitle intromain ."
        ". lifetitle lifemain ."
        ". unimarktitle unimarkmain ."
        ". americantitle americanmain ."
        ". knolltitle knollmain ."
        ". vigtitle vigmain ."
        ". subwaytitle subwaymain ."
        ". conclusiontitle conclusionmain ."
        "bibtitle bibtitle bibtitle bibtitle"
        "socialbuttons socialbuttons socialbuttons socialbuttons";  
    grid-gap: 1em;
}

.mainpic {
    grid-area: mainpic;
    padding-top:2.4em;
    background-color: black;
}

.bigpic {
    width: 85%;
    display: block;
    margin: auto;
}

.title {
    font-size: 2.6em;
    grid-area: title;
    padding: 2em 0;
}

.navbar {
    grid-area: navbar;
}

hr
{
border:solid 1.5px black;
width: 279.5%;
color: #000;
}


/*----ESSAY TITLES----*/

.title {
    grid-area: title;
}

.introtitle {
    grid-area: introtitle;
}

.lifetitle {
    grid-area: lifetitle;
}

.unimarktitle {
    grid-area: unimarktitle;
}

.americantitle {
    grid-area: americantitle;
}

.knolltitle {
    grid-area: knolltitle;
}

.vigtitle {
    grid-area: vigtitle;
}

.subwaytitle {
    grid-area: subwaytitle;
}

.conclusiontitle {
    grid-area: conclusiontitle;
}

.bibtitle {
    grid-area: bibtitle;
    background-color: #000;
}




/*-----ESSAY MAIN-----*/

.intromain {
    grid-area: intromain;
    padding-top:2.1em;
    padding-bottom: 6.5em;
}

.lifemain {
    grid-area: lifemain;
    padding-top:2.1em;
    padding-bottom: 6.5em;
}

.unimarkmain {
    grid-area: unimarkmain;
    padding-top:2.1em;
    padding-bottom: 6.5em;
}

.americanmain {
    grid-area: americanmain;
    padding-top:2.1em;
    padding-bottom: 6.5em;
}

.knollmain {
    grid-area: knollmain;
    padding-top:2.1em;
    padding-bottom: 6.5em;
}

.vigmain {
    grid-area: vigmain;
    padding-top:2.1em;
    padding-bottom: 6.5em;
}

.subwaymain {
    grid-area: subwaymain;
    padding-top:3.9em;
    padding-bottom: 6.5em;
}

.conclusionmain {
    grid-area: conclusionmain;
    padding-top:2.1em;
    padding-bottom: 6.5em;
}

.socialbuttons {
    grid-area: socialbuttons;
}


/*-----ESSAY IMAGES-----*/

.intropic {
    width: 16.5em;
    padding-top: .4em;
}



/*-----TEXT------*/

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
}

p {
    font-family: 'Helvetica', sans-serif;
}

blockquote {
    padding: 1em 0 0 0;
    font-size: 1.45em;
    line-height: 1.4em;
    color:#A9A9A9;
}

blockquote p {
    hanging-punctuation: first;
    padding-left:1em;
    border-left: 3px solid #ccc;
}

cite {
font-size: .7em;
}

.quote {
    display:none;
}

/*-----NAVIGATION-----*/

nav{
    position: fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    padding:1em 0;
    background:black;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li {
    display:inline;
    margin:10px;
}

a {
    color:#fff;
    text-decoration: none;
}

nav a:hover {
    border-bottom: none;
    color:red;
}

/*BIBLIOGRAPHY*/


.table {
    padding-bottom: 5.2em;
    max-width: 75%;
    margin: 0 auto 1em auto;
}

td {
    color:white;
    font-size:80%;
    padding-bottom: .5em;
}

.bibmain {
    padding-top: 4em;
    font-size:2em;
}

.bibsections {
    padding-top: 1.5em;
    padding-bottom: .5em;
}

.fourty {
    padding-right: 1.5em;
}


/*-----SOCIAL ICONS-----*/

.socialbuttons a img {
    opacity: 0.25;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.socialbuttons a:hover img {
    opacity: 0.9;
}

.socialbuttons li {
    display: inline-block;
}

.socialbuttons li img {
    width: 3.2em;
}

.socialbuttons {
    text-align: center;
    margin: auto;
}

.socialbuttons img {
    margin: 1em;
    padding-top: 1em;
}

.bibicon {
display:none;
}

/*----MEDIA QUERIES----*/


/*DESKTOP*/


@media (min-width: 1919px) {
    
    .mainpic {
        padding-top: 7em;
    }
    
    .navbar ul li {
        font-size: 1.7em;
        margin: 9px;
    }
    
    .title {
        font-size: 3.8em;
    }
    
    h2 {
        font-size: 2.2em;
    }
    
    p {
        padding-top: .5em;
        font-size: 1.4em;
    }
    
    blockquote {
        font-size: 1.36em;
    }
    
    .intropic {
    width: 23.5em;
    padding-top: .4em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    .table td {
        font-size: 1em;
    }
    
     .socialbuttons li img {
        width:4.7em;
        padding-bottom: 1.3em;
    } 
    
}


@media (max-width: 1366px) {

    .mainpic {
        padding-top: 5em;
    }
    
    .navbar ul li {
        font-size: 1.1em;
        margin: 6px;
    }
    
    p {
        font-size: 1.16em;
    }
    
    blockquote {
        font-size: 1.35em;
    }
    
    h2 {
        font-size: 1.56em;
    }
    
    .title {
        font-size: 3em;
    }
    
    h3 {
        font-size: 1.3em;
    }
}

/*IPAD PRO*/

@media (max-width: 1024px) {
    
    .mainpic {
        padding-top: 6em;
    }
    
    .navbar ul li {
        margin: 10px;
        font-size: 1.1em;
    }
    
    .title {
        font-size: 2.2em;
        padding-top: 2.5em;
    }
    
    p {
        font-size: 1.15em;
    }
    
    blockquote {
        font-size: 1.3em;
    }
    
    hr {
        width: 235%;
    }
    
    h2 {
        font-size: 1.55em;
    }
    
    .socialbuttons li img {
    width: 3.8em;
        padding-bottom: 1.3em;
    } 
  
}

/*TABLET*/

@media (max-width: 768px) {
    
     body{
        padding: 10%;
    }
    
    .navbar {
        
        padding: 5% 5% 0 5%;
    }
    
    .navbar ul li {
    display:inline;
    margin:12px;
    font-size: 1.1em;
}
    
   .mainpic{
       display:none;
    } 
    
     .title {
         font-size: 2.15em;
    }
    
    h2 {
        font-size: 1.467em;
    }
    
    hr {
        width: 100%;
    }
    
    p {
        font-size: 1.16em;
    }
    
    blockquote {
        font-size: 1.4em;
    }
    
    .intropic {
        width: 100%;
        padding-top: 2em;
    }
    
    .grid {
    display: grid;
    grid-template-columns: 0% 1fr 1fr 0%;
    grid-template-areas: 
        "mainpic mainpic mainpic mainpic" 
        
        "title title title title" 
        
        "navbar navbar navbar navbar"
        
        ". introtitle introtitle ."
        
        ". intromain intromain ."
        
        ". lifetitle lifetitle ."
        
        ". lifemain lifemain ."
        
        ". unimarktitle unimarktitle ."
        
        ". unimarkmain unimarkmain ."
        
        ". americantitle americantitle ."
        
        ". americanmain americanmain ."
        
        ". knolltitle knolltitle ."
        
        ". knollmain knollmain ."
        
        ". vigtitle vigtitle ."
        
        ". vigmain vigmain ."
        
        ". subwaytitle subwaytitle ."
        
        ". subwaymain subwaymain ."
        
        ". conclusiontitle conclusiontitle ."
        
        ". conclusionmain conclusionmain ."
        
        ". bibtitle bibtitle ."
        
        ". socialbuttons socialbuttons .";  }
    
    
    .table {
        display:none;
    }
    
    .bibicon {
        display: contents;
     }
    
    .socialbuttons li img {
    width: 3.5em;
    } 
    
}




/* MOBILE*/
@media (max-width: 35em) {
    
    body{
align-content:center;
        padding: 10%;
    }
    
    .grid {
    display: grid;
    grid-template-columns: 0% 1fr 1fr 0%;
    grid-template-areas: 
        "mainpic mainpic mainpic mainpic" 
        
        "title title title title" 
        
        ". navbar navbar ."
        
        ". introtitle introtitle ."
        
        ". intromain intromain ."
        
        ". lifetitle lifetitle ."
        
        ". lifemain lifemain ."
        
        ". unimarktitle unimarktitle ."
        
        ". unimarkmain unimarkmain ."
        
        ". americantitle americantitle ."
        
        ". americanmain americanmain ."
        
        ". knolltitle knolltitle ."
        
        ". knollmain knollmain ."
        
        ". vigtitle vigtitle ."
        
        ". vigmain vigmain ."
        
        ". subwaytitle subwaytitle ."
        
        ". subwaymain subwaymain ."
        
        ". conclusiontitle conclusiontitle ."
        
        ". conclusionmain conclusionmain ."
        
        ". bibtitle bibtitle ."
        
        ". socialbuttons socialbuttons .";  }
    
    .navbar{
        display: none;
    }
    
    .mainpic{
        display:none;
    }
    
    .quote {
        font-size: .8em;
        display: block;
    }
    
    .title {
        font-size: 1.6em;
        color: white;
        background-color: black;
        padding-top: 8em;
        padding-bottom: 7em;
        padding-left: 1.45em;
        text-indent: -0.2em;
    }
    
    .intro2 {
        padding-top: 2em;
    }
    
    .intropic {
        padding-top: 1.3em;
        margin: 0 0 -1.5em 0;
        width:20em;
    }
 
    p {
        width: 100%;
    }
    
    hr {
        width: 100%;
    }
  
    
    blockquote {
        width: 80%;
        font-size: 1.3em;
    }
    
    table {
        display:none;
    }
    
    .socialbuttons img {
    margin: .5em;
    padding-top: .1em;
    }
    
    .bibicon {
        display: contents;
     }
    
}

@media (max-width: 375px) {
    
    .title {
        font-size: 1.6em;
        color: white;
        background-color: black;
        padding-top: 7em;
        padding-bottom: 5.5em;
        padding-left: 1.45em;
        text-indent: -0.2em;
    }
    
    .intropic {
        padding-top: 1.3em;
        margin: 0 0 -1.5em 0;
        width:18em;
    }
    
    p {
        font-size: 1.1em;
    }
    
    blockquote {
        font-size: 1.2em;
    }
    
    .bibicon {
        display: contents;
     }
    
    .socialbuttons li img {
    width: 2.7em;
    } 
    
} 



@media (max-width: 320px) {
   
    .title {
        font-size: 1.2em;
        color: white;
        background-color: black;
        padding-top: 8em;
        padding-bottom: 7.2em;
        padding-left: 1.45em;
        text-indent: -0.2em;
    }
    
    .intropic {
        padding-top: 1.3em;
        margin: 0 0 -1.5em 0;
        width:15em;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    p {
        font-size: .9em;
    }
    
     blockquote {
        font-size: 1.2em;
    }
    
    .bibicon {
        display: contents;
     }
    
     .socialbuttons li img {
    width: 2.1em;
    } 
}
